In [ ]:
#dataframe

In [1]:
import os
os.environ["SPARK_HOME"] = "C:\\Users\\ander\\Desktop\\hadoop\\Spark\\spark-3.5.4-bin-hadoop3"
os.environ["JAVA_HOME"] = r"C:\Program Files\Java\jre1.8.0_431"

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder\
    .master('local[*]')\
    .appName("Iniciando com Spark")\
    .getOrCreate()

In [5]:
data = [('Anderson', '33'), ('Carlos', '25')] #lista com tuplas
colNames = ['nome', 'idade']
df = spark.createDataFrame(data, colNames)
df

DataFrame[nome: string, idade: string]

In [6]:
df.show()

+--------+-----+
|    nome|idade|
+--------+-----+
|Anderson|   33|
|  Carlos|   25|
+--------+-----+

In [12]:
import pandas
df.toPandas()

       nome idade
0  Anderson    33
1    Carlos    25

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive') immmportaação da pasta drive