In [3]:
import os

In [9]:
os.environ["SPARK_HOME"] = "C:\\Users\\ander\\Desktop\\hadoop\\Spark\\spark-3.5.4-bin-hadoop3"
os.environ["JAVA_HOME"] = r"C:\Program Files\Java\jre1.8.0_431"

#  esta  é usada no google colab
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [5]:
import findspark
findspark.init()

In [6]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder\
    .master('local[*]')\
    .appName("Iniciando com Spark")\
    .config('spark.ui.port', '4050')\
    .getOrCreate()

In [24]:
from pyngrok import ngrok
ngrok.set_auth_token("2qwVkHqEHWhrGK2OxYxOYPA0Xft_37VcXmp3uwddbQcRYSe1Y")

In [26]:
http_tunnel = ngrok.connect(4050) 
print(f'minha coonexão é: {http_tunnel}')

minha coonexão é: NgrokTunnel: "https://ef63-2804-248-f245-a100-ecc8-dbc1-3788-7711.ngrok-free.app" -> "http://localhost:4050"

In [28]:
ngrok.kill()

In [ ]:
import zipfile
from google.colab import drive
drive.mount('/content/drive')


zipfile.ZipFile('/content/drive/MyDrive/curso-spark/estabelecimentos.zip', 'r').extractall('/content/drive/MyDrive/curso-spark')

In [ ]:
path = '/content/drive/MyDrive/curso-spark/empresas'

In [ ]:
empresas = spark.read.csv(path, sep=';', inferSchema=True)

In [ ]:
path1 = '/content/drive/MyDrive/curso-spark/socios'

In [ ]:
socios = spark.read.csv(path1, sep=';', inferSchema=True)

In [ ]:
empresas.count()

In [ ]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']
empresas.limit(5).toPandas()

In [ ]:
socios.limit(5).toPandas()

In [ ]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [ ]:
for ind,cola in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f'_c{ind}', cola)

socios.columns

In [ ]:
for ind,cola in enumerate(sociosColNames):
    empresas = empresas.withColumnRenamed(f'_c{ind}', cola)

empresas.columns

In [ ]:
empresas.printSchema()

In [ ]:
socios.printSchema()

In [ ]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [ ]:
empresas.printSchema()

In [ ]:
empresas.limit(5).toPandas()

In [ ]:
empresas  = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa', ',', '.'))
empresas.limit(5).toPandas()

In [ ]:
df = spark.createDataFrame([(20200924,), (20201022,), (20210215,)], ['data'])
df.toPandas()

In [ ]:
df.printSchema()

In [ ]:
df = df.withColumn('data', f.to_date(df.data.cast(StringType()), 'yyyyMMdd'))

In [ ]:
df.printSchema()

In [ ]:
df.toPandas()

In [ ]:
socios.printSchema()

In [ ]:
socios = socios.withColumn('data_de_entrada_sociedade', f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd'))

In [ ]:
socios = socios.withColumn('data_de_entrada_sociedade', f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd'))

In [ ]:
socios.limit(5).toPandas()

In [ ]:
empresas\
      .select('*')\
      .show(5, False)

In [ ]:
empresas\
      .select('cnpj_basico', 'natureza_juridica', 'capital_social_da_empresa' )\
      .show(5, False)

In [ ]:
socios.limit(5).toPandas()

In [ ]:
socios\
        .select('nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', f.year('data_de_entrada_sociedade').alias('data'))\
        .show(5, False)

In [ ]:
df1 = spark.createDataFrame([(1, ), (2, ), (3, ), (None, )], ['data'])
df1.toPandas()

In [ ]:
df1 = spark.createDataFrame([(1., ), (2., ), (3., ), (float('nan'),)], ['data'])
df1.toPandas()

In [ ]:
socios.limit(5).show()

In [ ]:
socios.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]).show()

In [ ]:
socios.na.fill('-').limit(5).toPandas()

In [ ]:
socios.na.fill(0).limit(5).toPandas()

In [ ]:
socios\
            .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
            .show(5, False)

In [ ]:
socios\
            .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
            .orderBy('ano_de_entrada', ascending=False)\
            .show(5,False)

In [ ]:
socios\
            .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
            .orderBy(['ano_de_entrada', 'faixa_etaria'], ascending=False)\
            .show(5, False)

In [ ]:
empresas\
        .where("capital_social_da_empresa==50")\
        .show(5, False)

In [ ]:
df = spark.createDataFrame([('RESTAURANTE DO RUI',), ('Juca restaurantes ltda',), ('Joca Restaurante',)], ['data'])
df.toPandas()

In [ ]:
df\
    .where(f.upper(df.data).like('%RESTAURANTE%'))\
    .show(truncate=False)

In [ ]:
df\
    .where(f.upper(df.data).like('%RESTAURANTE'))\
    .show(truncate=False)

In [ ]:
empresas\
    .select('razao_social_nome_empresarial', 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .filter(f.upper(empresas['razao_social_nome_empresarial']).like('%RESTAURANTE%'))\
    .show(15, False)

In [ ]:
empresas\
    .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
    .groupBy('porte_da_empresa')\
    .agg(
        f.avg("capital_social_da_empresa").alias("capital_social_medio"),
        f.count("cnpj_basico").alias("frequencia")
    )\
    .orderBy('porte_da_empresa', ascending=True)\
    .show()

In [ ]:
empresas\
    .select("capital_social_da_empresa")\
    .summary()\
    .show()

In [ ]:
produtos = spark.createDataFrame(
    [
        ('1', 'Bebidas', 'Água mineral'), 
        ('2', 'Limpeza', 'Sabão em pó'), 
        ('3', 'Frios', 'Queijo'), 
        ('4', 'Bebidas', 'Refrigerante'),
        ('5', 'Pet', 'Ração para cães')
    ],
    ['id', 'cat', 'prod']
)

impostos = spark.createDataFrame(
    [
        ('Bebidas', 0.15), 
        ('Limpeza', 0.05),
        ('Frios', 0.065),
        ('Carnes', 0.08)
    ],
    ['cat', 'tax']
)v

In [ ]:
produtos.join(impostos, 'cat', how='inner')\
    .sort('id')\
    .show()

In [ ]:
produtos.join(impostos, 'cat', how='left')\
    .sort('id')\
    .show()

In [ ]:
produtos.toPandas()

In [ ]:
empresas_join = socios.join(empresas, 'cnpj_basico', how='inner')
empresas_join.printSchema()

In [ ]:
produtos.join(impostos, 'cat', how='outer')\
    .sort('id')\
    .show()

In [ ]:
empresas.createOrReplaceTempView("empresasView")

In [ ]:
spark.sql("SELECT * FROM empresasView").show(5)

In [ ]:
spark\
    .sql("""
        SELECT * 
            FROM empresasView 
            WHERE capital_social_da_empresa = 50
    """)\
    .show(5)

In [ ]:
spark\
    .sql("""
        SELECT porte_da_empresa, MEAN(capital_social_da_empresa) AS Media 
            FROM empresasView 
            GROUP BY porte_da_empresa
    """)\
    .show(5)

In [ ]:
empresas_join.createOrReplaceTempView("empresasJoinView")

In [ ]:
freq = spark\
    .sql("""
        SELECT YEAR(data_de_entrada_sociedade) AS data_de_inicio, COUNT(cnpj_basico) AS count
            FROM empresasJoinView 
            WHERE YEAR(data_de_entrada_sociedade) >= 2010
            GROUP BY data_de_inicio
            ORDER BY data_de_inicio
    """)

freq\
    .show()

In [ ]:
freq.createOrReplaceTempView("freqView")

In [ ]:
spark\
    .sql("""
        SELECT *
            FROM freqView
        UNION ALL
        SELECT 'Total' AS data_de_inicio, SUM(count) AS count
            FROM freqView
    """)\
    .show()

In [1]:
empresas.write.csv(
    path='/content/drive/MyDrive/curso-spark/empresas/csv',
    mode='overwrite',
    sep= ';',
    header=True
)

NameError: name 'empresas' is not defined

In [ ]:
empresas2 = spark.read.csv(
    '/content/drive/MyDrive/curso-spark/empresas/csv',
    sep=';',
    inferSchema=True,
    header=True
)

In [ ]:
empresas_parquet = spark.read.csv(
    path='/content/drive/MyDrive/curso-spark/empresas/csv'
)v

In [ ]:
empresas.write.parquet(
    path='/content/drive/MyDrive/curso-spark/empresas/parquet',
    mode='overwrite',
)

In [ ]:
empresas_parquet = spark.read.parquet(
    '/content/drive/MyDrive/curso-spark/empresas/parquet'
)

In [ ]:
empresas_parquet.printSchema()

In [ ]:
empresas.coalesce(1).write.csv(
    path='/content/drive/MyDrive/curso-spark/empresas/csv-unico',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
empresas.write.parquet(
    path='/content/drive/MyDrive/curso-spark/empresas/parquet-partitionBy',
    mode='overwrite',
        partitionBy='porte_da_empresa'
)

In [ ]:
spark.stop()